<script type="text/javascript" src="static/js/create_task.js"></script>
<div class="content">
  <div class="page-header">
    <h1>Create a Task</h1>
  </div>
  <form id="create_form" class="form-stacked">
    <label for="task_title">
	  Title
	</label>
	<input id="task_title" class="span13" type="text">
    <label for="task_text">
      What's the task?
    </label>
    <textarea id="task_text" class="span13"/>
    <div class="actions">
      <input type="submit" class="btn primary large" value="Create!">
    </div>
  </form>
</div>
