<script type="text/javascript" src="static/js/create_task.js"></script>
<div class="content">
  <div class="page-header">
    <h1>Create a Task</h1>
  </div>
  <form id="create_form" class="form-stacked">
    <div class="clearfix">
      <label for="task_title">
	    Title
	  </label>
	  <div class="input">
	    <input id="task_title" class="span13" type="text">
	  </div>
	</div>
	<div class="clearfix">
      <label for="task_text">
        What's the task?
      </label>
	  <div class="input">
        <textarea id="task_text" class="span13"/>
	  </div>
	</div>
    <div class="actions">
      <input type="submit" class="btn primary large" value="Create!">
    </div>
  </form>
</div>
