<script type="text/javascript" src="static/js/home.js"></script>
<div class="content">
  <div class="page-header">
    <h1><strong>{{me.name}}</strong>'s Tasks</h1>
  </div>
  <div class="row">
    <div class="span10">
      <h2>Tasks!</h2>
      <table class="zebra-striped">
	    <thead>
	      <tr>
	        <th>Task</th>
	        <th>Requested by</th>
		</thead>
		<tbody>
            {% for task in user_assigned %}
	        <tr>
                <td><a class="task_entry" id="1">Task {{task.task_name}}</a></td>
                <td><img src="https://graph.facebook.com/{{task.assigner_id}}/picture" alt="{{me.name}}" class="small-picture"></td>
            </tr>
            {% endfor %}
	      <tr>
	        <td><a class="task_entry" id="1">Test task</a></td>
	        <td><img src="https://graph.facebook.com/{{me.id}}/picture" alt="{{me.name}}" class="small-picture"></td>
          </tr>
          <tr>
            <td><a class="task_entry" id="2">Test task 2</a></td>
            <td><img src="https://graph.facebook.com/{{me.id}}/picture" alt="{{me.name}}" class="small-picture"></td>
          </tr>
	    </tbody>
      </table>
    </div>
    <div class="span4">
      <h3>Sidebar</h3>
      <a id="create_task" class="btn primary large">Create Task &raquo;</a>
    </div>
  </div>
</div>
