<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- We get the name of the app out of the information fetched -->
    <title>{{app.name}}</title>
    <link rel="stylesheet/less" href="static/less/bootstrap.less">
    <script src="static/js/less-1.1.3.min.js"></script>
    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta content="" property="og:title" />
    <meta content="" property="og:type" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta content="{{appId}}" property="fb:app_id" />
    <script type="text/javascript">function popup(pageURL, title,w,h) { var left = (screen.width/2)-(w/2); var top = (screen.height/2)-(h/2); var targetWin = window.open( pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left ); }</script>
    <!--[if IE]>
      <script>
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="clearfix">
      <!-- By passing a valid access token here, we are able to display -->
      <!-- the user's images without having to download or prepare -->
      <!-- them ahead of time -->
      <div>
        <h1><strong>{{me.name}}</strong>'s Tasks</h1>
      </div>
    </header>
	<div class="container-fluid">
	  <div class="content">
	  TASKS!
	  </div>
	  <div class="sidebar">
	  SIDEBAR!
	  </div>
	</div>
  </body>
</html>
